{% extends 'handicaps/base.html' %}


{% block css %}
{% endblock %}


{% block content %}
    <h1 id='id_page_heading'>{{ heading }}</h1>

    <h3>Instructions</h3>
    <ol>
        <li>Select the start and end of the period</li>
        <li>Click 'Search'</li>
    </ol>

    <div id="id_date_range" class="game-specifics">
        <form id="id_attendance_form" method="GET">
            {% csrf_token %}
                <p><label>Start date</label>{{ attendance_form.start }}</p>
                <p><label>End date</label>{{ attendance_form.end }}</p>
                <button type="submit" value="submit" class="button">
                    Submit</button>
        </form><br>
    </div>

    <div id="id_results">
        <h3 id="id_results_heading">Results: {{ start_txt | date:"d M Y" }} - {{ end_txt | date:"d M Y" }}</h3>
        <table id="id_results_table" width="270">
            <tr>
                <th width="40">#</th>
                <th width="200">Name</th>
                <th width="70">{{ th }}</th>
            </tr>
            {% for result in results %}
                <tr>
                    {% if result.player__last_name %}
                        <td>{{ forloop.counter }}</td>
                        <td>{{ result.player__last_name }}, {{ result.player__first_name }}</td>
                        <td>{{ result.output }}</td>
                    {% else %}
                        <td>{{ forloop.counter }}</td>
                        <td>{{ result.player }}</td>
                        <td>{{ result.result }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
    </div>
{% endblock %}
