{% extends 'handicaps/base.html' %}

{% block content %}
    <h1 id="id_page_heading">{{ player.first_name }} {{ player.last_name }}</h1>
    <a href="{% url 'edit_player' pk=player.pk %}" id="id_player_{{player.pk}}">Edit</a><br>

    <table id="id_expanded_player_table" width="350">
        <tr>
            <th width="35">Date</th>
            <th width="35">Type</th>
            <th width="15">Score</th>
            <th width="15">Pts</th>
        </tr>
        {% for game in game_history %}
        <tr>
            <td align="left">{{ game.game.game_date | date:"d M Y" }}</td>
            <td align="left">{{ game.game.game_type }}</td>
            <td align="right">{{ game.score }}</td>
            <td align="right">{{ game.attendance }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
